/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #fff;
}

.container-fluid {
  width:70%;
}

.navbar-brand {
   background: rgba(94, 130, 188,0.5);
}

.btn-primary {
  margin-top: 0.8vh;
  background-color: rgba(94, 130, 188,0.5 );
  color: #000;
}

.navbar {
  background: rgba(233,247,249,0.5);
}

.post-panel {
  margin-top: -21px;
}

.posts-content {
  margin-left: 30px;
}

.post-title {
  margin-left: 30px;
}

.post-owner {
  font-weight: bold;
  color: black;
}

.post-date {
  opacity: 0.7;
}

.g-links {
  opacity: 0.3;
  font-size: 120%;
  margin-right: 60px;
}

.links {
  text-align: left;
}

.post-form-panel {
  margin-bottom: -21px;
}

.post-form-panel {
  margin-bottom: -6px;
}

.cover-img {
  width: 15vw;
  height: 12vh;
}

.cover-pro {
  width: 100%;
  margin-top: -21px;
  height: 45vh;
}

.post-panel-pro {
  margin-top: -35px; 
}
